body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,rgba(51, 41, 41, 1) 0%, rgba(227, 136, 247, 1) 50%, rgba(197, 255, 89, 1) 100%);
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 100px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4783b7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

h2 {
    text-align: center;
    color: #333;
}
